* {
    margin: 0;
}

.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.click {
    background-color: tomato;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    letter-spacing: 0.4rem;
    margin-bottom: 40px;
}

.click:active {
    transform: translateY(3px);
}

.box-container {
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-around;
    transition: 0.6s ease-in-out;
}

.box-container.big {
    width: 600px;
    height: 600px;
}

.box-container.big .box {
    transform: rotateZ(360deg);
}

.box {
    background-image: url('https://media3.giphy.com/media/HlmYO0C0DsZVixtWMT/giphy.gif');

    background-size: 500px 500px;
    position: relative;
    height: 125px;
    width: 125px;
    transition: 0.6s ease-in;

}

.box::after {
    content: "";
    background-color: brown;
    position: absolute;
    top: 8px;
    right: -15px;
    height: 100%;
    width: 15px;
    transform: skewY(45deg);
}

.box::before {
    content: "";
    background-color: brown;
    position: absolute;
    left: 8px;
    bottom: -15px;
    height: 15px;
    width: 100%;
    transform: skewX(45deg);
}