.user-actions a {
    color: black;
    margin-right: 40px;
}

.user-actions .logout-btn {
    margin-left: 40px;
    cursor: pointer;
}

#header {
    background-color: lightgray;
    padding: 24px 0;
}

.header-wrapper a {
    color: black;

}

.user-actions {
    line-height: 24px;
}

.logo a {
    font-size: 24px;
}