.home-title {
    font-size: 40px;
    margin-top: 100px;
}

.category-list {
    margin-top: 50px;
}

.category-list .category-item {
    border: 1px solid #2c3e50;
    box-shadow: 0px 0px 2px #999;
    margin: 20px;
    width: 150px;
    background-color: #34495e;
}

.category-list .category-item a {
    font-size: 18px;
    padding: 30px 20px;
}

.category-title {
    margin-top: 20px;
    font-size: 18px;
}
