.login-wrapper {
    width: 600px;
    margin: 50px auto 0;
}

.login-wrapper .signup-btn,
.login-wrapper .login-btn {
    cursor: pointer;
    width: 300px;
    margin: 20px auto 0;
}

.login-wrapper .auth-error-msg {
    margin-top: 20px;
}

.home-title {
    font-size: 40px;
    margin-top: 100px;
}

.input-group {
    margin-bottom: 15px;
}
